<span style="font-weight:bold; color:#4CAF50; font-size:28px;">
TASK 3 END-TO-END DATA SCIENCE PROJECT</span>

<div style="font-family: Arial, sans-serif; text-align: left; background-color: #f2f2f2; padding: 10px; border-radius: 5px;">
    <span style="font-weight: bold; color: #4CAF50; font-size: 20px;">Author: Bisma yb</span><br>
    <span style="font-weight: bold; color: #FF9800; font-size: 18px;">company: CODTECH IT Solutions</span><br>
    <span style="font-weight: bold; color: #FF9800; font-size: 18px;">inturn ID: CT6WEXQ</span><br>
    <span style="font-weight: bold; color: #FF9800; font-size: 18px;">Domain:Data Science</span><br>
    <span style="font-weight: bold; color: #FF9800; font-size: 18px;">Batch duration: december 30th 2024 to February 15th 2025</span><br>
    <span style="font-weight: bold; color: #FF9800; font-size: 18px;">Mentor name:Neela Santhosh </span>
</div>

In [10]:

%%writefile train_model.py
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import joblib

# Load the dataset
df = pd.read_csv('iris.csv')
df.head()

Writing train_model.py

In [2]:
#If your dataset has an 'Id' column, drop it.
if 'Id' in df.columns:
    df = df.drop(columns=['Id'])

In [3]:
df.tail()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
df.describe().T

               count      mean       std  min  25%   50%  75%  max
SepalLengthCm  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
SepalWidthCm   150.0  3.054000  0.433594  2.0  2.8  3.00  3.3  4.4
PetalLengthCm  150.0  3.758667  1.764420  1.0  1.6  4.35  5.1  6.9
PetalWidthCm   150.0  1.198667  0.763161  0.1  0.3  1.30  1.8  2.5

In [6]:
df.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [7]:
# Encode the target variable
le = LabelEncoder()
df['Species'] = le.fit_transform(df['Species'])

In [8]:
# Separate features and target
X = df.drop('Species', axis=1)
y = df['Species']

# Split the data into training and testing sets (80/20 split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a Random Forest Classifier
rfc = RandomForestClassifier(n_estimators=100, random_state=42)
rfc.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = rfc.predict(X_test)

In [9]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='weighted')
recall = recall_score(y_test, y_pred, average='weighted')
f1 = f1_score(y_test, y_pred, average='weighted')

print(f'Accuracy: {accuracy:.3f}')
print(f'Precision: {precision:.3f}')
print(f'Recall: {recall:.3f}')
print(f'F1-score: {f1:.3f}')

# Save the trained model and label encoder to disk
joblib.dump(rfc, 'iris_model.pkl')
joblib.dump(le, 'label_encoder.pkl')

print("Model and label encoder saved successfully!")

Accuracy: 1.000
Precision: 1.000
Recall: 1.000
F1-score: 1.000
Model and label encoder saved successfully!